/bash/
/cmake/
/cmake-build*/
/conan/
/.idea/
.vs/
/CMakeUserPresets.json
/test_package/conan
/test_package/CMakeUserPresets.json
build/ 
__pycache__/ 
/LogosCmakeScripts/
/OsInterface/
/OsUtil/
/iDebugDummy/
/googleTest/